[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8081/
	serverId = 42113c7f-a31d-41ef-a2b6-74000a4bad21
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = davido
	javaHome = /Library/Java/JavaVirtualMachines/jdk1.8.0_112.jdk/Contents/Home/jre
[index]
	type = LUCENE
[auth]
        type = OAUTH
	trustedOpenID=^.*$
	gitBasicAuthPolicy = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8081/
[cache]
	directory = cache

[plugin "gerrit-oauth-provider-keycloak-oauth"]
	root-url = http://localhost:8080
	realm = master
	client-id = gerrit
	client-secret = f9980771-0172-43df-bc5b-98bc2f9477d0

